body {
	background-color: rgb(27, 9, 44);
}

h1 {
	font-size: 4rem;
	font-family: cursive;
	text-align: center;
	color: chocolate;
}

h2 {
	font-size: 2rem;
	color: bisque;
	font-family: cursive;
}

.main {
	text-align: center;
	margin-top: 1rem;
}

.row {
	display: inline-block;
	margin: 0.625rem;
}

#first {
	height: 12rem;
	width: 12rem;
}

#second {
	height: 12rem;
	width: 12rem;
}

button {
	border: solid black 1px;
	border-radius: 25%;
	font-size: 2.5rem;
	margin-top: 3rem;
	background-color: chocolate;
	outline: none;
	width: 150px;
}

button:active {
	transform: translate(4px);
	box-shadow: rgb(241, 205, 156);
}
